body {
  margin: 0;
  font-family: arial;
  font-size: 0.8em;
}

.topo {
  background-color: #222;
  height: 30px;
  width: 100%;
}

.topo-int {
  height: 100%;
  max-width: 1040px;
  margin: auto;
  width: 100%;
}

/* Estilo Topo left */

.topo-left {
  width: 50%;
  height: 30px;
  float: left;
}

.topo-left ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.topo-left li {
  float: left;
  height: 30px;
  line-height: 30px;
}

.topo-left a {
  color: #fff;
  margin: 0 8px;
  text-decoration: none;
}

.topo-left .ativo {
  color: #2980b9;
}

/* Estilo Topo Right */

.topo-right {
  float: right;
  height: 28px;
  margin-top: 2px;
  text-align: right;
  width: 50%;
}

.topo-right input[search] {
  width: 100px;
}

.topo-busca {
  height: 26px;
  width: 21%;
}

.topo-right a, input {
  float: right;
}

.topo-right img {
  margin-right: 3px;
}

/*Estilos segundo topo  */

.topo2 {
  height: 95px;
  color: #000;
}

.topo2-int {
  height: 100%;
  max-width: 1040px;
  margin: auto;
  width: 100%;
}

.logo {
  float: left;
  height: 100%;
  width: 30%;
}

.topo2 .banner {
  float: right;
  height: 85%;
  margin: 7px auto;
  width: 60%;
  background-color: #e74c3c;
}

.topo2 .logo p {
  color: #e74c3c;
  font-size: 3.4em;
  font-weight: bold;
  margin-top: .8em;
  text-align: center;
  line-height: 20px;
}

/*  Estilos Menu*/

.menu {
  height: 40px;
  background-color: #ff3232;
}

.menu-int {
  height: 100%;
  margin: auto;
  max-width: 1040px;
  width: 100%;
}

.menu ul {
  list-style: none;
  margin-left: 0;
  padding: 0;
}

.menu li {
  float: left;
  line-height: 40px;
  margin: 0 8px;
}

.menu li:hover .submenu {
  display: block;
}

.menu a {
  color: #fff;
  text-decoration: none;
}

.submenu {
  display: none;
  width: 150px;
  background-color: #ff3232;
  /* max-height: 200px; */
  position: absolute;
}

.submenuitem {
  height: 30px;
  line-height: 30px;
  margin-left: 10px;
  padding-left: 5px;
  width: 130px;
}

.submenuitem:hover {
  background: #ff5555;
}

.banner h1 {
  color: #fff;
  font-size: 3em;
  line-height: 20px;
  text-align: center;
}

/* Estilos Campo Ultimas Noticias */

.ultimasnoticias {
  height: 30px;
  margin: 0 auto;
  max-width: 1040px;
  padding-top: 10px;
  width: 100%;
  margin-bottom: 10px;
}

.ultimasnoticias-int {
  background-color: #fff;
  border: solid 1px #ccc;
  float: left;
  height: 100%;
  margin: auto;
  max-width: 1040px;
  width: 100%;
}

.ultimasnoticias-red {
  background-color: #ff0000;
  color: #fff;
  display: inline-block;
  float: left;
  font-size: 1em;
  font-weight: bold;
  height: 100%;
  line-height: 30px;
  text-align: center;
  width: 15%;
}

.ultimasnoticias-white {
  color: #000;
  display: inline-block;
  float: left;
  line-height: 30px;
  height: 100%;
  margin-left: 10px;
  width: 70%;
}

.container {
  margin: auto;
  max-width: 1040px;
  width: 100%;
  background-color: #999;
}

.rightside {
  float: right;
  height: 200px;
  margin-left: 12px;
  width: 275px;
}

.leftside {
  float: left;
  max-width: 750px;
  width: 100%;
}

.slideshow {
  height: 330px;
  overflow: hidden;
  background-color: #333;
}

.slideshow-area {
  height: 330px;
  width: 748px;
}

.slide {
  float: left;
  height: 328px;
  width: 100%;
  display: none;
}

.slide-ativo {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url('http://www.google.com.br/google.jpg');
  display: block;
}

.slide-info {
  background-color: rgba(0, 0, 0, 0.2);
  height: 20%;
  margin-top: 35%;
}

.slide-info-titulo {
  color: #fff;
  font-size: 2.2em;
}

.slide-info-subtitulo {
  color: #fff;
  font-size: 1.8em;
}

.widget {
  background-color: #fff;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.widget-titulo {
  background-color: #ddd;
  border-bottom: 1px solid #ccc;
  font-size: 15px;
  height: 30px;
  line-height: 30px;
  padding-left: 5px;
}

.widget-conteudo {
  text-align: center;
  padding: 5px 0px;
}

.widget-conteudo div {
  border-bottom: 1px solid #ccc;
  font-size: 1.3em;
  margin: 0 10px;
  padding: 10px 0px;
  text-align: left;
}

.widget-conteudo a {
  color: #000;
  text-decoration: none;
}

/* Estilos section */